  body {
    font-size: 20px;
  }
 
 /* Split the screen in half */
 .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #1F1F1FFF;
    color: azure;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(245, 45, 45);
    color: #1F1F1FFF
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .messages {
    background-color: white;
    text-align: center;
    color: red;
  }
  
  .horizontal {
    margin: 1em auto 0em auto;
    text-align: center;
  }

  .header {
    margin: 4em;
  }

  .header h1 {
    text-align: center;
    font-size: 3em;
  }

  ul li {
    list-style-type: none;
    text-align: center;
  }

  .v-limit-650 {
    max-height: 650px;
  }

  .scroll {
    overflow-y: scroll;
  }

  .hidden {
    overflow-x: hidden;
  }