<!DOCTYPE html>
    <head>
        <title>Unsecure | mainpage</title>
        <link rel="stylesheet" type="text/css" href="/static/index.css"/>
        
    </head>
    <body>
        <div class="split left">
            <div class="centered">
                <p>
                    {{ users }}
                </p>
            </div>
        </div>
          
          <div class="split right">
            <div class="centered">
                {% if not session.username %}
                <form action="/login" method="POST" id="login">
                    Username<br>
                    <input type="text" name="username"><br>
                    Password<br>
                    <input type="password" name="password"><br>
                    <input type="submit" value="Login">
                </form>
                <form action="/register" method="POST" id="register" style="display: none;">
                    Username<br>
                    <input type="text" name="username"><br>
                    Password<br>
                    <input type="password" name="password"><br>
                    <input type="submit" value="Register">
                </form>
                <a id ="show-register" onclick="register()">register</a>
                <a id ="show-login" onclick="login()" style="display: none;">login</a>
                {% else %}
                <form action="/logout" method="POST">
                    <input type="submit" value="Logout">
                </form>
                {% endif %}
            </div>
          </div>

          <script>
            function register() {
                console.log("show register")
                document.getElementById("login").style.display = "none"
                document.getElementById("register").style.display = ""
                document.getElementById("show-login").style.display = ""
                document.getElementById("show-register").style.display = "none"
            }
            function login() {
                console.log("show login")
                document.getElementById("login").style.display = ""
                document.getElementById("register").style.display = "none"
                document.getElementById("show-register").style.display = ""
                document.getElementById("show-login").style.display = "none"
            }
        </script>
    </body>
</html>