<!DOCTYPE html>
    <head>
        <title>Unsecure | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
        
    </head>
    <body>
        <div class="split left">
            <div class="header">
                <h1>Messages</h1>
            </div>
            <section class="v-limit-650 scroll hidden horizontal">
                <ul>
                    {% for message in messages %}
                    <li>
                        {{ message[0] }}<br>
                        – {{ message[1] }}
                    </li>
                    <br>
                    {% endfor %}
                </ul>
            </section>
        </div>
          
        <div class="split right">
            <div class="header">
                <h1>{% block page %}{% endblock %}</h1>
            </div>
            <div class="messages">
                {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endwith %}
            </div>
            <div class="container">
                {% block content %} {% endblock%}
            </div>
        </div>

        <script>
            function register() {
                console.log("show register")
                document.getElementById("login").style.display = "none"
                document.getElementById("register").style.display = ""
                document.getElementById("show-login").style.display = ""
                document.getElementById("show-register").style.display = "none"
            }
            function login() {
                console.log("show login")
                document.getElementById("login").style.display = ""
                document.getElementById("register").style.display = "none"
                document.getElementById("show-register").style.display = ""
                document.getElementById("show-login").style.display = "none"
            }
        </script>
    </body>
</html>